apiVersion: apps/v1
kind: Deployment
metadata:
    name: nginx-deployment 
spec: 
    replicas: 4
    template:
        metadata:
           labels: 
              app: my-nginx
        spec:
           containers:
              - name: nginx 
                image: nginx 
                ports:
                  - containerPort: 80 
    selector:
        matchLabels:
            app: my-nginx